/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  --bg-color: #000028 ;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-text-color: #DB00FF;
  --border-button: rgba(255, 0, 112, 40%);
  --title-decor-color: #000028 ;
  --header-and-title-decor-color: #FF0070;
  --backgroung-image: url(../images/cover-image-dark.png);
  --visible: visible;
  --offset: 20px;
  --main-font: 'IBM Plex Mono';
}







