/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-text-color: #FFC2E6;
  --backgroung-image: url(../images/cover-image-light.png);
  --border-button: rgba(53, 52, 48, 0.4);
  --title-decor-color: #353430;
  --header-and-title-decor-color: #353430;
  --visible: hidden;

}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --header-text-color: #FFC2E6;
    --backgroung-image: url(../images/cover-image-light.png);
    --border-button: rgba(53, 52, 48, 0.4);
    --title-decor-color: #353430;
    --header-and-title-decor-color: #353430;
    --visible: hidden;
    }
}

.page.theme_light {
  
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-text-color: #FFC2E6;
  --bg-color: #FFF1F7;
  --backgroung-image: url(../images/cover-image-light.png);
  --border-button: rgba(53, 52, 48, 0.4);
  --title-decor-color: #353430;
  --header-and-title-decor-color: #353430;
  --visible: hidden;
}








