/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028 ;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --main-font: 'IBM Plex Mono';
  --offset: 4px;
  --header-text-color: #DB00FF;
  --title-decor-color: #FF0070 ;
  --backgroung-image: url(../images/cover-image-dark.png);
  --border-button: rgba(255, 0, 112, 40%);
  --header-and-title-decor-color: #FF0070;
  --title-decor-color: #000028 ;
  --visible: visible; 

}